.center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.Welcome {
    min-height: 100vh;
    position: relative;
    z-index: -1;
}

@keyframes move-welcome {

    0% {
        opacity: 0;
        transform: translateY(-135px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

.Welcome .container {
    position: relative;
    padding-top: 180px;

    /* animation: move-welcome 4s; */
}

.Welcome .container img.logo {
    width: 100%;
    max-width: 575px;

    height: auto;

    padding-bottom: 50px;
}

.Welcome .row.picture img.pic_welcome {
    width: 100%;
    max-width: 300px;

    height: auto;

    padding-top: 220px;
}

.Welcome .promotion {

    width: 100%;

    position: relative;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;

    min-height: 650px;

    margin-top: 120px;
}

.Welcome .promotion button {
    border-radius: 30px;
    margin-left: 20px;
}

.Welcome .container .carousel-item img {
    width: 100%;
    max-width: 550px;

    height: auto;

    border-radius: 10px;
}

/* Mobile */
@media screen and (max-width: 767px) {

    .Welcome .container {
        padding-top: 90px;
    }

    .Welcome .container img.logo {
        max-width: 250px;
        padding-bottom: 80px;
    }

    .Welcome .row.picture img.pic_welcome {
        max-width: 220px;
        padding-top: 40px;
    }

    .Welcome .promotion {

        background-position: center top;
        background-size: cover;
        min-height: 590px;
        margin-top: 160px;
        padding-top: 30px;
    }

}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .Welcome .container {
        padding-top: 140px;
    }

    .Welcome .container img.logo {
        max-width: 420px;
    }

    .Welcome .row.picture img.pic_welcome {
        max-width: 260px;
        padding-top: 80px;
    }

    .Welcome .promotion {

        background-position: right -120px center;
        background-size: contain;
        min-height: 800px;
        margin-top: 340px;

    }

}

/* Desktop */
@media screen and (min-width: 1025px) and (max-width: 1440px) {

    .Welcome .container {
        padding-top: 180px;
    }

    .Welcome .promotion {

        background-position: right center;
        background-size: contain;
        min-height: 700px;
        margin-top: 100px;
    }

}

/* Large Desktop */
@media screen and (min-width: 1441px) {

    .Welcome .container {
        padding-top: 220px;
    }

    .Welcome .container img.logo {
        max-width: 650px;
    }

    .Welcome .row.picture img.pic_welcome {
        max-width: 360px;
        padding-top: 180px;
    }

    .Welcome .promotion {

        background-position: right 80px center;
        background-size: contain;

        min-height: 850px;

        margin-top: 140px;
    }

}

/* Small Height Screens */
@media screen and (max-height: 720px) {

    .Welcome .container {
        padding-top: 100px;
    }

    .Welcome .promotion {
        margin-top: 20px;
    }

}